* {
    border: 0;
    padding: 0;
    margin: 0;
}

.center-div {
    display: flex;
    justify-content: center;
}

header {
    height: 100vh;
    width: 100%;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sun {
    height: 300px;
    width: 300px;
    background: radial-gradient(#e9c46a, #f4a261);
    border-radius: 50%;
}

#title {
    border: 3px solid black;
    width: 100%;
    height: 15vh;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    word-spacing: 100%;
}
/*
main {
    background: whitesmoke;
    height: 200vh;
    width: 60vw;
}

footer {
    height: 200px;
    width: 100%;
    background: sandybrown;
}
*/